.login {
  width: 100%;
  max-width: 400px;
  background: linear-gradient(45deg, #FFD3A5, #FD6585);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.btn-primary {
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 5px;
}

label {
  font-weight: 600;
}

h2 {
  font-weight: 700;
}
